<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .image-container {
            height: 22vh; 
            margin: 0 60px; 
        }
        .black-container {
            height: 80vh; 
            margin: 0 60px; 
        }
    </style>
</head>
<body class="bg-[#CB9D06]">
    <section class="flex flex-col text-8xl font-black text-yellow-600 leading-[115px] max-md:px-5 max-md:text-4xl">
        <article class="image-container relative flex-col items-center shadow-sm max-md:px-5 max-md:pt-10 max-md:max-w-full max-md:text-4xl">
            <img loading="lazy" src="aboutUs.png" alt="" class="object-cover absolute inset-0 w-full h-full" />
            <h4 class="absolute inset-0 flex justify-center items-center">ABOUT US</h4>
        </article>
        <aside class="black-container bg-black shadow-sm max-md:max-w-full"></aside>
    </section>
</body>
</html>
