@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background: url("./resources/korusBG.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.react-date-picker__wrapper {
    border: none;
}